/* Using ID selector */

#abc{
    color:red;
    background-color: aquamarine;
    font-size: 20px;

}

/* Using Class Selector */
.rs{
    color:palevioletred;
    background-color: black;
    font-size: 25px;
}

p.rs{
    color:rebeccapurple;
    background-color: yellow;
}